.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1110px;
  margin-top: 80px;
  height: 155px;
  background-color: #f7f7f7;
  .container {
    align-items: center;
  }
  &__logo-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 73px;
  }
  &__logo-image {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__copyright {
    color: #858585;
    font-size: 13px;
    max-width: 180px;
  }
}