.popup {
  position: absolute;
  top: 0;
  left: 560px;
  display: none;
  flex-direction: column;
  padding: 20px 0;
  background-color: #ffffff;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.13);
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 345px;
  }
  &__img {
    width: 145px;
    height: 200px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &_win {
      border-top: 7px solid #2bc800;
    }
    &_lose {
      border-top: 7px solid #e5330a;
    }
    &_1 {
      background-image: url('../img/popup/img1.jpg');
    }
    &_2 {
      background-image: url('../img/popup/img2.jpg');
    }
    &_3 {
      background-image: url('../img/popup/img3.jpg');
    }
    &_4 {
      background-image: url('../img/popup/img4.jpg');
    }
  }
  &__info-block {
    display: flex;
    justify-content: space-evenly;
  }
}
.popup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 145px;
  &__result {
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 15px;
    &_win {
      color: #2bc800;
    }
    &_lose {
      color: #e5330a;
    }
  }
  &__name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  &__country {
    font-size: 14px;
    margin-bottom: 27px;
  }
  &__icon {
    margin-right: 4px;
  }
  &__koef {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
  }
  &__number {
    font-size: 18px;
  }
}